<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
          <head>
                    <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <link rel="stylesheet" href="./css/styles.css"/>
                    <link rel="icon" href="/img/weather.png"/>
                    
                    <title>About</title>
          </head>
          <body>
          <div class='main-content'>
                    {{>header}}
                    <p>This a site you can use to check the weather</p>
                    <p>{{name}}</p>
          </div>
                   <img class='portrait' src='/img/debicki_3.jpeg' alt='picture of me'>    
                    {{>footer}}
          </body>
</html>
